*.classpath
/target/
/.settings/
*.project
*.class
/.pmd
/.ruleset
/reports/

${checkstyle.reports.dir}/checkstyle-result.xml
.sonar/.sonar_lock
.sonar/report-task.txt
.sonar/batch-report/activerules.pb
.sonar/batch-report/analysis.log
.sonar/batch-report/changesets-10.pb
.sonar/batch-report/changesets-12.pb
.sonar/batch-report/changesets-13.pb
.sonar/batch-report/changesets-15.pb
.sonar/batch-report/changesets-16.pb
.sonar/batch-report/changesets-2.pb
.sonar/batch-report/changesets-3.pb
.sonar/batch-report/changesets-4.pb
.sonar/batch-report/changesets-6.pb
.sonar/batch-report/changesets-7.pb
.sonar/batch-report/changesets-8.pb
.sonar/batch-report/changesets-9.pb
.sonar/batch-report/component-1.pb
.sonar/batch-report/component-10.pb
.sonar/batch-report/component-11.pb
.sonar/batch-report/component-12.pb
.sonar/batch-report/component-13.pb
.sonar/batch-report/component-14.pb
.sonar/batch-report/component-15.pb
.sonar/batch-report/component-16.pb
.sonar/batch-report/component-17.pb
.sonar/batch-report/component-2.pb
.sonar/batch-report/component-3.pb
.sonar/batch-report/component-4.pb
.sonar/batch-report/component-5.pb
.sonar/batch-report/component-6.pb
.sonar/batch-report/component-7.pb
.sonar/batch-report/component-8.pb
.sonar/batch-report/component-9.pb
.sonar/batch-report/context-props.pb
.sonar/batch-report/coverages-10.pb
.sonar/batch-report/coverages-12.pb
.sonar/batch-report/coverages-13.pb
.sonar/batch-report/coverages-15.pb
.sonar/batch-report/coverages-16.pb
.sonar/batch-report/coverages-2.pb
.sonar/batch-report/coverages-3.pb
.sonar/batch-report/coverages-4.pb
.sonar/batch-report/coverages-6.pb
.sonar/batch-report/coverages-7.pb
.sonar/batch-report/coverages-8.pb
.sonar/batch-report/coverages-9.pb
.sonar/batch-report/duplications-10.pb
.sonar/batch-report/duplications-13.pb
.sonar/batch-report/duplications-15.pb
.sonar/batch-report/duplications-16.pb
.sonar/batch-report/duplications-6.pb
.sonar/batch-report/duplications-7.pb
.sonar/batch-report/duplications-9.pb
.sonar/batch-report/issues-10.pb
.sonar/batch-report/issues-12.pb
.sonar/batch-report/issues-13.pb
.sonar/batch-report/issues-15.pb
.sonar/batch-report/issues-16.pb
.sonar/batch-report/issues-2.pb
.sonar/batch-report/issues-3.pb
.sonar/batch-report/issues-6.pb
.sonar/batch-report/issues-7.pb
.sonar/batch-report/issues-8.pb
.sonar/batch-report/issues-9.pb
.sonar/batch-report/measures-10.pb
.sonar/batch-report/measures-12.pb
.sonar/batch-report/measures-13.pb
.sonar/batch-report/measures-15.pb
.sonar/batch-report/measures-16.pb
.sonar/batch-report/measures-2.pb
.sonar/batch-report/measures-3.pb
.sonar/batch-report/measures-4.pb
.sonar/batch-report/measures-6.pb
.sonar/batch-report/measures-7.pb
.sonar/batch-report/measures-8.pb
.sonar/batch-report/measures-9.pb
.sonar/batch-report/metadata.pb
.sonar/batch-report/source-10.txt
.sonar/batch-report/source-12.txt
.sonar/batch-report/source-13.txt
.sonar/batch-report/source-15.txt
.sonar/batch-report/source-16.txt
.sonar/batch-report/source-2.txt
.sonar/batch-report/source-3.txt
.sonar/batch-report/source-4.txt
.sonar/batch-report/source-6.txt
.sonar/batch-report/source-7.txt
.sonar/batch-report/source-8.txt
.sonar/batch-report/source-9.txt
.sonar/batch-report/symbols-10.pb
.sonar/batch-report/symbols-12.pb
.sonar/batch-report/symbols-13.pb
.sonar/batch-report/symbols-15.pb
.sonar/batch-report/symbols-16.pb
.sonar/batch-report/symbols-2.pb
.sonar/batch-report/symbols-3.pb
.sonar/batch-report/symbols-4.pb
.sonar/batch-report/symbols-6.pb
.sonar/batch-report/symbols-7.pb
.sonar/batch-report/symbols-8.pb
.sonar/batch-report/symbols-9.pb
.sonar/batch-report/syntax-highlightings-10.pb
.sonar/batch-report/syntax-highlightings-12.pb
.sonar/batch-report/syntax-highlightings-13.pb
.sonar/batch-report/syntax-highlightings-15.pb
.sonar/batch-report/syntax-highlightings-16.pb
.sonar/batch-report/syntax-highlightings-2.pb
.sonar/batch-report/syntax-highlightings-3.pb
.sonar/batch-report/syntax-highlightings-4.pb
.sonar/batch-report/syntax-highlightings-6.pb
.sonar/batch-report/syntax-highlightings-7.pb
.sonar/batch-report/syntax-highlightings-8.pb
.sonar/batch-report/syntax-highlightings-9.pb
